# MySQL settings
MYSQL_ROOT_PASSWORD=secret
MYSQL_HOST=mysql
MYSQL_DATABASE=phalcondb
MYSQL_USER=phalcon
MYSQL_PASSWORD=secret

# phpMyAdmin settings
PMA_ARBITRARY=1
PMA_HOST=mysql
PMA_PORT=3306
PMA_USER=phalcon
PMA_PASSWORD=secret

# Application
# Debug